APP_NAME="JIRA Reports of Team"
APP_ENV=local
APP_KEY=base64:ZEso6bpx0jaHBX7e2MIcPtot1EfogZ8AI0u82lMJcSA=
APP_DEBUG=true
APP_URL=http://zira-api.test

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="ollyonet_pmo"
DB_USERNAME=""
DB_PASSWORD=""

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=94fa8c61e50c10
MAIL_PASSWORD=cef02ca6ad9b9b
MAIL_ENCRYPTION=tls

# BROADCAST_DRIVER=log
# CACHE_DRIVER=file
# FILESYSTEM_DRIVER=local
# QUEUE_CONNECTION=sync
# SESSION_DRIVER=file
# SESSION_LIFETIME=120

# MEMCACHED_HOST=127.0.0.1

# REDIS_HOST=127.0.0.1
# REDIS_PASSWORD=null
# REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mailhog
# MAIL_PORT=1025
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS=null
# MAIL_FROM_NAME="${APP_NAME}"

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=us-east-1
# AWS_BUCKET=
# AWS_USE_PATH_STYLE_ENDPOINT=false

# PUSHER_APP_ID=
# PUSHER_APP_KEY=
# PUSHER_APP_SECRET=
# PUSHER_APP_CLUSTER=mt1

# MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
# MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


#ziraapi resource
JIRA_API_MAIN_URL = "https://ollyo.atlassian.net/rest/api/3/search?jql=project=CF7"
JIRA_API_BASE_URL = "https://ollyo.atlassian.net/rest/api/3/"
JIRA_API_EMAIL = "nirjhor@joomshaper.com"
JIRA_API_PASS = "f24V97nmlmBsnH5reM0mD42E"
JIRA_API_REQUEST_URL = "search?jql=project="
